@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


.hidden {
    display: none !important; 
    /* 나중에 설정한 login-form의 display 설정이 적용되어 hidden이 적용이 안되는 상황 발생, !important로 이 속성이 변경되지 않도록 설정 */
}

body {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Maven Pro', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

#welcome {
    text-align: center;
    font-size: 38px;
    margin-bottom: 5px;
    font-weight: bold;
}

#login-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#login-form input {
    border: none;
    padding: 10px;
    color: white;
    font-size: 35px;
    text-align: center;
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: transparent;
}

#login-form input:focus {
    outline: none;
}

#login-button {
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 30px;
    color: white;
}

#clock {
    font-size: 100px;
    margin: 15% 0 0 0;
}

#greeting {
    margin: 0 0 50px 0;
}

#todo-form {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

#todo-form input {
    border: none;
    color: white;
    font-size: 25px;
    text-align: center;
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: transparent;
}

#todo-form input:focus {
    outline: none;
}

#todo-list {
    list-style: none;
    font-size: 20px;
    margin: 10px 0 78px 0;
    height: auto;
    overflow-y: scroll;
}

#todo-list::-webkit-scrollbar {
    display: none;
}

#todo-list li {
    margin-bottom: 10px;
}

#todo-list span:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:20px;'><text y='50%'>✍️</text></svg>") 5 15, auto;
}

#todo-list button {
    border: 0;
    background-color: transparent;
    color: #f52458;
    font-size: 18px;
}

#quote {
    text-align: center;
    position: fixed;
    bottom: 20px;
}

#quote span {
    display: block;
}

#weather {
    position: absolute;
    top: 20px;
    right: 30px;
}